+popup(id="thanks")
    .popup__ibg.ibg
        +picture(jpg, `${assets}callback-bg`, 'n')
    .popup__title #[span.text-green Спасибо] и мы#[br] мигом перезвоним
    .popup__subtitle Мы мигом перезвоним
    