#video60.popup.uk-flex-top(data-uk-modal data-youtube-id="0I7rYotTip4")
    .popup__body.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical.embed-responsive.embed-responsive-16by9
        button.popup__close.uk-modal-close-default(type="button" data-uk-close)