$relative-link-to-modules: "../fonts";

// @include font-face("Montserrat", "Montserrat-Thin", "100", "normal", $relative-link-to-modules);
// @include font-face("Montserrat", "Montserrat-ExtraLight", "200", "normal", $relative-link-to-modules);
// @include font-face("Montserrat", "Montserrat-Light", "300", "normal", $relative-link-to-modules);
@include font-face("Montserrat", "Montserrat-Regular", "400", "normal", $relative-link-to-modules);
@include font-face("Montserrat", "Montserrat-Medium", "500", "normal", $relative-link-to-modules);
@include font-face("Montserrat", "Montserrat-SemiBold", "600", "normal", $relative-link-to-modules);
@include font-face("Montserrat", "Montserrat-Bold", "700", "normal", $relative-link-to-modules);
// @include font-face("Montserrat", "Montserrat-ExtraBold", "800", "normal", $relative-link-to-modules);
@include font-face("Montserrat", "Montserrat-Black", "900", "normal", $relative-link-to-modules);

@include font-face("CGFArchReactorRUS", "CGFArchReactorRUS", "400", "normal", $relative-link-to-modules);