.popup {
    padding: 1rem 0;
	background: rgba(0,0,0,.6);
    &__body {
        padding-top: 4rem;
        padding-bottom: 5rem;
        width: 18.75rem;
        @include flex-column();

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
    
            background: #454545;
    
            position: absolute;
            top: 0;
            left: 0;
            z-index: -20;
        }
        color: white;

        margin-top: auto; 
        margin-bottom: auto; 
        overflow: hidden;
    }
    &__ibg {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    &__close {
        color: white;
        @include center-item-x();
        top: -1.25rem;
        &::before {
            content: '';
            display: block;
            width: 4.75rem;
            height: 4.75rem;
            border-radius: 50%;
            background: #49E200;
            filter: blur(50px);
            @include center-item();
        }
        &::after {
            content: '';
            display: block;
            width: 3.75rem;
            height: 3.75rem;
            border-radius: 50%;
            background: #48583D;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
            position: relative;
            z-index: 2;
        }
        svg {
            width: 1.2rem;
            @include center-item();
            z-index: 3;
        }
    }
    &__title {
        font-weight: bold;
        text-align: center;
        font-size: 1.125rem;
        margin-bottom: 1.5rem;
        .text-green {
            color: rgba(61, 191, 0, 1);
        }
    }
    &__subtitle {}
}
@media (min-width: map-get($grid-breakpoints, lg)) {
    .popup {
        &__body {
            padding-top: 87px;
            padding-bottom: 108px;
            width: 489px;
        }
        &__close {
            top: -25px;
            &::before {
                width: 97px;
                height: 97px;
            }
            &::after {
                width: 79px;
                height: 79px;
            }
            svg {
                width: 25px;
            }
            &:hover {
                color: white;
            }
        }
        &__title {
            font-size: 30px;
            margin-bottom: 38px;
        }
        &__subtitle {}
    }
}